<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (hematomeSuperficiel(); as hematomeSuperficielRef) {
      <div>
        <h2 data-cy="hematomeSuperficielDetailsHeading"><span>Hematome Superficiel</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ hematomeSuperficielRef.id }}</span>
          </dd>
          <dt><span>Reponse</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[hematomeSuperficielRef.reponse ?? 'null'] }}</span>
          </dd>
          <dt><span>Type</span></dt>
          <dd>
            <span>{{ { null: '', SPONTANE: 'SPONTANE', PROVOQUE: 'PROVOQUE' }[hematomeSuperficielRef.type ?? 'null'] }}</span>
          </dd>
          <dt><span>Siege</span></dt>
          <dd>
            <span>{{ hematomeSuperficielRef.siege }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
        </button>

        <button type="button" [routerLink]="['/hematome-superficiel', hematomeSuperficielRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
        </button>
      </div>
    }
  </div>
</div>
