<div>
  <h2 id="page-heading" data-cy="HemorragieVisceresHeading">
    <span>HemorragieVisceres</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-hemorragie-visceres"
        [routerLink]="['/hemorragie-visceres/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Créer un nouveau Hemorragie Visceres</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (hemorragieVisceres?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Aucun Hemorragie Visceres trouvé</span>
    </div>
  }

  @if (hemorragieVisceres && hemorragieVisceres.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reponse">
              <div class="d-flex">
                <span>Reponse</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span>Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="exploration">
              <div class="d-flex">
                <span>Exploration</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="examenLesion">
              <div class="d-flex">
                <span>Examen Lesion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (hemorragieVisceres of hemorragieVisceres; track trackId(hemorragieVisceres)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/hemorragie-visceres', hemorragieVisceres.id, 'view']">{{ hemorragieVisceres.id }}</a>
              </td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[hemorragieVisceres.reponse ?? 'null'] }}</td>
              <td>
                {{
                  { null: '', HEMATEMESE: 'HEMATEMESE', RECTORRAGIE: 'RECTORRAGIE', HEMATURIE: 'HEMATURIE' }[
                    hemorragieVisceres.type ?? 'null'
                  ]
                }}
              </td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[hemorragieVisceres.exploration ?? 'null'] }}</td>
              <td>{{ hemorragieVisceres.examenLesion }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/hemorragie-visceres', hemorragieVisceres.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/hemorragie-visceres', hemorragieVisceres.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(hemorragieVisceres)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (hemorragieVisceres && hemorragieVisceres.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
