<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-fiche-heading" data-cy="FicheCreateUpdateHeading">Créer ou éditer un Fiche</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let dossierNumberRef = editForm.get('dossierNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_dossierNumber">Dossier Number</label>
          <input
            type="text"
            class="form-control"
            name="dossierNumber"
            id="field_dossierNumber"
            data-cy="dossierNumber"
            formControlName="dossierNumber"
          />
          @if (dossierNumberRef.invalid && (dossierNumberRef.dirty || dossierNumberRef.touched)) {
            <div>
              @if (editForm.get('dossierNumber')?.errors?.required) {
                <small class="form-text text-danger">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ordreNumber">Ordre Number</label>
          <input
            type="text"
            class="form-control"
            name="ordreNumber"
            id="field_ordreNumber"
            data-cy="ordreNumber"
            formControlName="ordreNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_indexNumber">Index Number</label>
          <input
            type="text"
            class="form-control"
            name="indexNumber"
            id="field_indexNumber"
            data-cy="indexNumber"
            formControlName="indexNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_anneeDiagnostic">Annee Diagnostic</label>
          <input
            type="number"
            class="form-control"
            name="anneeDiagnostic"
            id="field_anneeDiagnostic"
            data-cy="anneeDiagnostic"
            formControlName="anneeDiagnostic"
          />
        </div>

        @let diagnosticRef = editForm.get('diagnostic')!;
        <div class="mb-3">
          <label class="form-label" for="field_diagnostic">Diagnostic</label>
          <select class="form-control" name="diagnostic" formControlName="diagnostic" id="field_diagnostic" data-cy="diagnostic">
            <option [ngValue]="null"></option>
            @for (diagnosticType of diagnosticTypeValues; track $index) {
              <option [value]="diagnosticType">
                {{
                  {
                    null: '',
                    HEMOPHILIE: 'HEMOPHILIE',
                    WILLEBRAND: 'WILLEBRAND',
                    THROMBOPATHIE: 'THROMBOPATHIE',
                    DEFICIT_FACTEUR_VII: 'DEFICIT_FACTEUR_VII',
                    DEFICIT_FACTEUR_XI: 'DEFICIT_FACTEUR_XI',
                    DEFICIT_FACTEUR_XIII: 'DEFICIT_FACTEUR_XIII',
                    DEFICIT_COMBINE: 'DEFICIT_COMBINE',
                  }[diagnosticType]
                }}
              </option>
            }
          </select>
          @if (diagnosticRef.invalid && (diagnosticRef.dirty || diagnosticRef.touched)) {
            <div>
              @if (editForm.get('diagnostic')?.errors?.required) {
                <small class="form-text text-danger">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_autreDiagnostic">Autre Diagnostic</label>
          <input
            type="text"
            class="form-control"
            name="autreDiagnostic"
            id="field_autreDiagnostic"
            data-cy="autreDiagnostic"
            formControlName="autreDiagnostic"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateEnregistrementRegistre">Date Enregistrement Registre</label>
          <div class="input-group">
            <input
              id="field_dateEnregistrementRegistre"
              data-cy="dateEnregistrementRegistre"
              type="text"
              class="form-control"
              name="dateEnregistrementRegistre"
              ngbDatepicker
              #dateEnregistrementRegistreDp="ngbDatepicker"
              formControlName="dateEnregistrementRegistre"
            />
            <button type="button" class="btn btn-secondary" (click)="dateEnregistrementRegistreDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_consentementRegistre">Consentement Registre</label>
          <input
            type="checkbox"
            class="form-check"
            name="consentementRegistre"
            id="field_consentementRegistre"
            data-cy="consentementRegistre"
            formControlName="consentementRegistre"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_parentsConsanguins">Parents Consanguins</label>
          <select
            class="form-control"
            name="parentsConsanguins"
            formControlName="parentsConsanguins"
            id="field_parentsConsanguins"
            data-cy="parentsConsanguins"
          >
            <option [ngValue]="null"></option>
            @for (ouiNonNP of ouiNonNPValues; track $index) {
              <option [value]="ouiNonNP">{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ouiNonNP] }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_degreParenteConsanguins">Degre Parente Consanguins</label>
          <input
            type="text"
            class="form-control"
            name="degreParenteConsanguins"
            id="field_degreParenteConsanguins"
            data-cy="degreParenteConsanguins"
            formControlName="degreParenteConsanguins"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_casSimilairesFamille">Cas Similaires Famille</label>
          <select
            class="form-control"
            name="casSimilairesFamille"
            formControlName="casSimilairesFamille"
            id="field_casSimilairesFamille"
            data-cy="casSimilairesFamille"
          >
            <option [ngValue]="null"></option>
            @for (ouiNonNP of ouiNonNPValues; track $index) {
              <option [value]="ouiNonNP">{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ouiNonNP] }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nbreCasSimilaires">Nbre Cas Similaires</label>
          <input
            type="number"
            class="form-control"
            name="nbreCasSimilaires"
            id="field_nbreCasSimilaires"
            data-cy="nbreCasSimilaires"
            formControlName="nbreCasSimilaires"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_degreParenteCasSimilaires">Degre Parente Cas Similaires</label>
          <input
            type="text"
            class="form-control"
            name="degreParenteCasSimilaires"
            id="field_degreParenteCasSimilaires"
            data-cy="degreParenteCasSimilaires"
            formControlName="degreParenteCasSimilaires"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_casDecesSyndromeHemorragique">Cas Deces Syndrome Hemorragique</label>
          <select
            class="form-control"
            name="casDecesSyndromeHemorragique"
            formControlName="casDecesSyndromeHemorragique"
            id="field_casDecesSyndromeHemorragique"
            data-cy="casDecesSyndromeHemorragique"
          >
            <option [ngValue]="null"></option>
            @for (ouiNonNP of ouiNonNPValues; track $index) {
              <option [value]="ouiNonNP">{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ouiNonNP] }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nbreCasDeces">Nbre Cas Deces</label>
          <input
            type="number"
            class="form-control"
            name="nbreCasDeces"
            id="field_nbreCasDeces"
            data-cy="nbreCasDeces"
            formControlName="nbreCasDeces"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_formeHemophilie">Forme Hemophilie</label>
          <select
            class="form-control"
            name="formeHemophilie"
            formControlName="formeHemophilie"
            id="field_formeHemophilie"
            data-cy="formeHemophilie"
          >
            <option [ngValue]="null"></option>
            @for (formeHemophilie of formeHemophilieValues; track $index) {
              <option [value]="formeHemophilie">
                {{ { null: '', SPORADIQUE: 'SPORADIQUE', HEREDITAIRE: 'HEREDITAIRE' }[formeHemophilie] }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nbreFreres">Nbre Freres</label>
          <input
            type="number"
            class="form-control"
            name="nbreFreres"
            id="field_nbreFreres"
            data-cy="nbreFreres"
            formControlName="nbreFreres"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nbreSoeurs">Nbre Soeurs</label>
          <input
            type="number"
            class="form-control"
            name="nbreSoeurs"
            id="field_nbreSoeurs"
            data-cy="nbreSoeurs"
            formControlName="nbreSoeurs"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateTestConfirmation">Date Test Confirmation</label>
          <div class="input-group">
            <input
              id="field_dateTestConfirmation"
              data-cy="dateTestConfirmation"
              type="text"
              class="form-control"
              name="dateTestConfirmation"
              ngbDatepicker
              #dateTestConfirmationDp="ngbDatepicker"
              formControlName="dateTestConfirmation"
            />
            <button type="button" class="btn btn-secondary" (click)="dateTestConfirmationDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_hemogrammeHb">Hemogramme Hb</label>
          <input
            type="number"
            class="form-control"
            name="hemogrammeHb"
            id="field_hemogrammeHb"
            data-cy="hemogrammeHb"
            formControlName="hemogrammeHb"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_hemogrammeHt">Hemogramme Ht</label>
          <input
            type="number"
            class="form-control"
            name="hemogrammeHt"
            id="field_hemogrammeHt"
            data-cy="hemogrammeHt"
            formControlName="hemogrammeHt"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_plaquettes">Plaquettes</label>
          <input
            type="number"
            class="form-control"
            name="plaquettes"
            id="field_plaquettes"
            data-cy="plaquettes"
            formControlName="plaquettes"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tp">Tp</label>
          <input type="number" class="form-control" name="tp" id="field_tp" data-cy="tp" formControlName="tp" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fibrinogene">Fibrinogene</label>
          <input
            type="number"
            class="form-control"
            name="fibrinogene"
            id="field_fibrinogene"
            data-cy="fibrinogene"
            formControlName="fibrinogene"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tcaMT">Tca MT</label>
          <input type="number" class="form-control" name="tcaMT" id="field_tcaMT" data-cy="tcaMT" formControlName="tcaMT" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tcaMT2h">Tca MT 2 H</label>
          <input type="number" class="form-control" name="tcaMT2h" id="field_tcaMT2h" data-cy="tcaMT2h" formControlName="tcaMT2h" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tcaTemoin2h">Tca Temoin 2 H</label>
          <input
            type="number"
            class="form-control"
            name="tcaTemoin2h"
            id="field_tcaTemoin2h"
            data-cy="tcaTemoin2h"
            formControlName="tcaTemoin2h"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ts">Ts</label>
          <select class="form-control" name="ts" formControlName="ts" id="field_ts" data-cy="ts">
            <option [ngValue]="null"></option>
            @for (testStatus of testStatusValues; track $index) {
              <option [value]="testStatus">
                {{ { null: '', FAIT: 'FAIT', NON_FAIT: 'NON_FAIT', NORMAL: 'NORMAL', ALLONGE: 'ALLONGE' }[testStatus] }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_circumstanceDecouverte">Circumstance Decouverte</label>
          <select
            class="form-control"
            name="circumstanceDecouverte"
            formControlName="circumstanceDecouverte"
            id="field_circumstanceDecouverte"
            data-cy="circumstanceDecouverte"
          >
            <option [ngValue]="null"></option>
            @for (circumstanceDecouverte of circumstanceDecouverteValues; track $index) {
              <option [value]="circumstanceDecouverte">
                {{
                  { null: '', FORTUITE: 'FORTUITE', FAMILIALE: 'FAMILIALE', SYNDROME_HEMORRAGIQUE: 'SYNDROME_HEMORRAGIQUE' }[
                    circumstanceDecouverte
                  ]
                }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_date1erSigneClinique">Date 1 Er Signe Clinique</label>
          <div class="input-group">
            <input
              id="field_date1erSigneClinique"
              data-cy="date1erSigneClinique"
              type="text"
              class="form-control"
              name="date1erSigneClinique"
              ngbDatepicker
              #date1erSigneCliniqueDp="ngbDatepicker"
              formControlName="date1erSigneClinique"
            />
            <button type="button" class="btn btn-secondary" (click)="date1erSigneCliniqueDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ageDiagnostic">Age Diagnostic</label>
          <input
            type="number"
            class="form-control"
            name="ageDiagnostic"
            id="field_ageDiagnostic"
            data-cy="ageDiagnostic"
            formControlName="ageDiagnostic"
          />
        </div>

        @let priseEnChargeRef = editForm.get('priseEnCharge')!;
        <div class="mb-3">
          <label class="form-label" for="field_priseEnCharge">Prise En Charge</label>
          <select
            class="form-control"
            name="priseEnCharge"
            formControlName="priseEnCharge"
            id="field_priseEnCharge"
            data-cy="priseEnCharge"
          >
            <option [ngValue]="null"></option>
            @for (priseEnChargeType of priseEnChargeTypeValues; track $index) {
              <option [value]="priseEnChargeType">
                {{ { null: '', A_LA_DEMANDE: 'A_LA_DEMANDE', PROPHYLAXIE: 'PROPHYLAXIE' }[priseEnChargeType] }}
              </option>
            }
          </select>
          @if (priseEnChargeRef.invalid && (priseEnChargeRef.dirty || priseEnChargeRef.touched)) {
            <div>
              @if (editForm.get('priseEnCharge')?.errors?.required) {
                <small class="form-text text-danger">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_causePriseEnCharge">Cause Prise En Charge</label>
          <input
            type="text"
            class="form-control"
            name="causePriseEnCharge"
            id="field_causePriseEnCharge"
            data-cy="causePriseEnCharge"
            formControlName="causePriseEnCharge"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_doseProphylaxie">Dose Prophylaxie</label>
          <input
            type="text"
            class="form-control"
            name="doseProphylaxie"
            id="field_doseProphylaxie"
            data-cy="doseProphylaxie"
            formControlName="doseProphylaxie"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_frequenceProphylaxie">Frequence Prophylaxie</label>
          <input
            type="number"
            class="form-control"
            name="frequenceProphylaxie"
            id="field_frequenceProphylaxie"
            data-cy="frequenceProphylaxie"
            formControlName="frequenceProphylaxie"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_debutProphylaxie">Debut Prophylaxie</label>
          <div class="input-group">
            <input
              id="field_debutProphylaxie"
              data-cy="debutProphylaxie"
              type="text"
              class="form-control"
              name="debutProphylaxie"
              ngbDatepicker
              #debutProphylaxieDp="ngbDatepicker"
              formControlName="debutProphylaxie"
            />
            <button type="button" class="btn btn-secondary" (click)="debutProphylaxieDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_modaliteInjection">Modalite Injection</label>
          <select
            class="form-control"
            name="modaliteInjection"
            formControlName="modaliteInjection"
            id="field_modaliteInjection"
            data-cy="modaliteInjection"
          >
            <option [ngValue]="null"></option>
            @for (injectionType of injectionTypeValues; track $index) {
              <option [value]="injectionType">
                {{
                  {
                    null: '',
                    AUTO_INJECTION: 'AUTO_INJECTION',
                    INJECTION_PARENT: 'INJECTION_PARENT',
                    INJECTION_HOPITAL: 'INJECTION_HOPITAL',
                  }[injectionType]
                }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_typeTraitementSubstitutif">Type Traitement Substitutif</label>
          <select
            class="form-control"
            name="typeTraitementSubstitutif"
            formControlName="typeTraitementSubstitutif"
            id="field_typeTraitementSubstitutif"
            data-cy="typeTraitementSubstitutif"
          >
            <option [ngValue]="null"></option>
            @for (traitementType of traitementTypeValues; track $index) {
              <option [value]="traitementType">
                {{ { null: '', PLASMATIQUE: 'PLASMATIQUE', RECOMBINANT: 'RECOMBINANT' }[traitementType] }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_age1ereSubstitution">Age 1 Ere Substitution</label>
          <input
            type="number"
            class="form-control"
            name="age1ereSubstitution"
            id="field_age1ereSubstitution"
            data-cy="age1ereSubstitution"
            formControlName="age1ereSubstitution"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_psl">Psl</label>
          <select class="form-control" name="psl" formControlName="psl" id="field_psl" data-cy="psl">
            <option [ngValue]="null"></option>
            @for (ouiNonNP of ouiNonNPValues; track $index) {
              <option [value]="ouiNonNP">{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ouiNonNP] }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_plasmaFraisCongele">Plasma Frais Congele</label>
          <select
            class="form-control"
            name="plasmaFraisCongele"
            formControlName="plasmaFraisCongele"
            id="field_plasmaFraisCongele"
            data-cy="plasmaFraisCongele"
          >
            <option [ngValue]="null"></option>
            @for (ouiNonNP of ouiNonNPValues; track $index) {
              <option [value]="ouiNonNP">{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ouiNonNP] }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cryoprecipite">Cryoprecipite</label>
          <select
            class="form-control"
            name="cryoprecipite"
            formControlName="cryoprecipite"
            id="field_cryoprecipite"
            data-cy="cryoprecipite"
          >
            <option [ngValue]="null"></option>
            @for (ouiNonNP of ouiNonNPValues; track $index) {
              <option [value]="ouiNonNP">{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ouiNonNP] }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_complicationsOrthopediques">Complications Orthopediques</label>
          <select
            class="form-control"
            name="complicationsOrthopediques"
            formControlName="complicationsOrthopediques"
            id="field_complicationsOrthopediques"
            data-cy="complicationsOrthopediques"
          >
            <option [ngValue]="null"></option>
            @for (ouiNonNP of ouiNonNPValues; track $index) {
              <option [value]="ouiNonNP">{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ouiNonNP] }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_complicationInhibiteurs">Complication Inhibiteurs</label>
          <select
            class="form-control"
            name="complicationInhibiteurs"
            formControlName="complicationInhibiteurs"
            id="field_complicationInhibiteurs"
            data-cy="complicationInhibiteurs"
          >
            <option [ngValue]="null"></option>
            @for (ouiNonNP of ouiNonNPValues; track $index) {
              <option [value]="ouiNonNP">{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ouiNonNP] }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_testRecuperationFAH">Test Recuperation FAH</label>
          <select
            class="form-control"
            name="testRecuperationFAH"
            formControlName="testRecuperationFAH"
            id="field_testRecuperationFAH"
            data-cy="testRecuperationFAH"
          >
            <option [ngValue]="null"></option>
            @for (testStatus of testStatusValues; track $index) {
              <option [value]="testStatus">
                {{ { null: '', FAIT: 'FAIT', NON_FAIT: 'NON_FAIT', NORMAL: 'NORMAL', ALLONGE: 'ALLONGE' }[testStatus] }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_resultatTestRecuperation">Resultat Test Recuperation</label>
          <select
            class="form-control"
            name="resultatTestRecuperation"
            formControlName="resultatTestRecuperation"
            id="field_resultatTestRecuperation"
            data-cy="resultatTestRecuperation"
          >
            <option [ngValue]="null"></option>
            @for (testResult of testResultValues; track $index) {
              <option [value]="testResult">{{ { null: '', NORMAL: 'NORMAL', DIMINUE: 'DIMINUE' }[testResult] }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_vieSociale">Vie Sociale</label>
          <select class="form-control" name="vieSociale" formControlName="vieSociale" id="field_vieSociale" data-cy="vieSociale">
            <option [ngValue]="null"></option>
            @for (vieSocialeStatus of vieSocialeStatusValues; track $index) {
              <option [value]="vieSocialeStatus">
                {{
                  { null: '', PRESCOLAIRE: 'PRESCOLAIRE', SCOLARISE: 'SCOLARISE', CHOMEUR: 'CHOMEUR', TRAVAILLE: 'TRAVAILLE' }[
                    vieSocialeStatus
                  ]
                }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_etatMarital">Etat Marital</label>
          <select class="form-control" name="etatMarital" formControlName="etatMarital" id="field_etatMarital" data-cy="etatMarital">
            <option [ngValue]="null"></option>
            @for (ouiNonNP of ouiNonNPValues; track $index) {
              <option [value]="ouiNonNP">{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ouiNonNP] }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_enfants">Enfants</label>
          <select class="form-control" name="enfants" formControlName="enfants" id="field_enfants" data-cy="enfants">
            <option [ngValue]="null"></option>
            @for (ouiNonNP of ouiNonNPValues; track $index) {
              <option [value]="ouiNonNP">{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ouiNonNP] }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_handicap">Handicap</label>
          <select class="form-control" name="handicap" formControlName="handicap" id="field_handicap" data-cy="handicap">
            <option [ngValue]="null"></option>
            @for (ouiNonNP of ouiNonNPValues; track $index) {
              <option [value]="ouiNonNP">{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ouiNonNP] }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_typeHandicap">Type Handicap</label>
          <input
            type="text"
            class="form-control"
            name="typeHandicap"
            id="field_typeHandicap"
            data-cy="typeHandicap"
            formControlName="typeHandicap"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_activiteSportive">Activite Sportive</label>
          <select
            class="form-control"
            name="activiteSportive"
            formControlName="activiteSportive"
            id="field_activiteSportive"
            data-cy="activiteSportive"
          >
            <option [ngValue]="null"></option>
            @for (ouiNonNP of ouiNonNPValues; track $index) {
              <option [value]="ouiNonNP">{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ouiNonNP] }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_typeActiviteSportive">Type Activite Sportive</label>
          <input
            type="text"
            class="form-control"
            name="typeActiviteSportive"
            id="field_typeActiviteSportive"
            data-cy="typeActiviteSportive"
            formControlName="typeActiviteSportive"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_decede">Decede</label>
          <select class="form-control" name="decede" formControlName="decede" id="field_decede" data-cy="decede">
            <option [ngValue]="null"></option>
            @for (ouiNonNP of ouiNonNPValues; track $index) {
              <option [value]="ouiNonNP">{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ouiNonNP] }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_causeDateDeces">Cause Date Deces</label>
          <input
            type="text"
            class="form-control"
            name="causeDateDeces"
            id="field_causeDateDeces"
            data-cy="causeDateDeces"
            formControlName="causeDateDeces"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_hemarthrose">Hemarthrose</label>
          <select
            class="form-control"
            id="field_hemarthrose"
            data-cy="hemarthrose"
            name="hemarthrose"
            formControlName="hemarthrose"
            [compareWith]="compareHemarthrose"
          >
            <option [ngValue]="null"></option>
            @for (hemarthroseOption of hemarthrosesCollection; track $index) {
              <option [ngValue]="hemarthroseOption">{{ hemarthroseOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_hematomeSuperficiel">Hematome Superficiel</label>
          <select
            class="form-control"
            id="field_hematomeSuperficiel"
            data-cy="hematomeSuperficiel"
            name="hematomeSuperficiel"
            formControlName="hematomeSuperficiel"
            [compareWith]="compareHematomeSuperficiel"
          >
            <option [ngValue]="null"></option>
            @for (hematomeSuperficielOption of hematomeSuperficielsCollection; track $index) {
              <option [ngValue]="hematomeSuperficielOption">{{ hematomeSuperficielOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_hematomePsoas">Hematome Psoas</label>
          <select
            class="form-control"
            id="field_hematomePsoas"
            data-cy="hematomePsoas"
            name="hematomePsoas"
            formControlName="hematomePsoas"
            [compareWith]="compareHematomePsoas"
          >
            <option [ngValue]="null"></option>
            @for (hematomePsoasOption of hematomePsoasCollection; track $index) {
              <option [ngValue]="hematomePsoasOption">{{ hematomePsoasOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_hemorragiesCutaneoMuqueuses">Hemorragies Cutaneo Muqueuses</label>
          <select
            class="form-control"
            id="field_hemorragiesCutaneoMuqueuses"
            data-cy="hemorragiesCutaneoMuqueuses"
            name="hemorragiesCutaneoMuqueuses"
            formControlName="hemorragiesCutaneoMuqueuses"
            [compareWith]="compareHemorragiesCutaneoMuqueuses"
          >
            <option [ngValue]="null"></option>
            @for (hemorragiesCutaneoMuqueusesOption of hemorragiesCutaneoMuqueusesCollection; track $index) {
              <option [ngValue]="hemorragiesCutaneoMuqueusesOption">{{ hemorragiesCutaneoMuqueusesOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_hemorragieVisceres">Hemorragie Visceres</label>
          <select
            class="form-control"
            id="field_hemorragieVisceres"
            data-cy="hemorragieVisceres"
            name="hemorragieVisceres"
            formControlName="hemorragieVisceres"
            [compareWith]="compareHemorragieVisceres"
          >
            <option [ngValue]="null"></option>
            @for (hemorragieVisceresOption of hemorragieVisceresCollection; track $index) {
              <option [ngValue]="hemorragieVisceresOption">{{ hemorragieVisceresOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_saignementSNC">Saignement SNC</label>
          <select
            class="form-control"
            id="field_saignementSNC"
            data-cy="saignementSNC"
            name="saignementSNC"
            formControlName="saignementSNC"
            [compareWith]="compareSaignementSNC"
          >
            <option [ngValue]="null"></option>
            @for (saignementSNCOption of saignementSNCSCollection; track $index) {
              <option [ngValue]="saignementSNCOption">{{ saignementSNCOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_patient">Patient</label>
          <select
            class="form-control"
            id="field_patient"
            data-cy="patient"
            name="patient"
            formControlName="patient"
            [compareWith]="comparePatient"
          >
            <option [ngValue]="null"></option>
            @for (patientOption of patientsSharedCollection; track $index) {
              <option [ngValue]="patientOption">{{ patientOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
